/* 
Colours:
  background: #3C3744
  heading: #3C3744
  font: #E0E0CE
  colour 1: #B4ADEA
  colour 2: #4E8098 
*/

body {
  background-color: #3C3744;
}

h1 {
  color: #B07156;
  font-size: 60px;
}

p {
  color: #E0E0CE;
  font-size: 30px;
}